<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9eceb0">  <td>19/02/28 13:24:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TechnicalEx.beforeTest()[pri:0, instance:com.playstore.selenium.TechnicalEx@7748410a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1374754488</td>   <td></td> </tr>
<tr bgcolor="9eceb0">  <td>19/02/28 13:24:33</td>   <td>11559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalEx.gmailLogin()[pri:1, instance:com.playstore.selenium.TechnicalEx@7748410a]">gmailLogin</td> 
  <td>main@1374754488</td>   <td></td> </tr>
<tr bgcolor="9eceb0">  <td>19/02/28 13:24:58</td>   <td>37033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalEx.games()[pri:2, instance:com.playstore.selenium.TechnicalEx@7748410a]">games</td> 
  <td>main@1374754488</td>   <td></td> </tr>
<tr bgcolor="9eceb0">  <td>19/02/28 13:25:10</td>   <td>49143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalEx.review()[pri:3, instance:com.playstore.selenium.TechnicalEx@7748410a]">review</td> 
  <td>main@1374754488</td>   <td></td> </tr>
</table>
